*{
    margin: 0px;
    padding: 0px;
}

.card{
    display: inline-block;
}

.copyrights{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 10vh;
    background-color: rgb(245, 245, 245);
}

.active{
    color: rgb(247, 155, 98);
}

.gents-wear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.gents-wear .card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.gents-wear .card-group .card{
    padding: 20px;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.gents-wear .card-group .card .card-text{
    
    
    height: 40px;
    border: none;
    margin: 20px 100px 0px 100px;
    background-color: #ededed;
}

